body {
  margin:auto;
  padding:10%;
  background-color:white;
  color:white;
}

.container {
  height:100%;
}
.header {
  height:20px;
  background-color:pink;
}
.sidebar {
  background-color:orange;
  width:25%;
  height:170px;
  float:left;
}
.content {
  background-color:blue;
  float:left;
  width:75%;
  height:170px; 
}.footer {
  background-color:green;
  height:10%;
  clear:both;
}